@import  'styles/common.module.scss';

.MethodArrayInput {
  @extend .MethodInputMargin;

  &Header {
    padding-left: 1vw;
    background-color: #F0F0F0;
  }
  
  &Body {
    @extend .MethodInputLevel;
    border-left: 2px dotted rgb(205, 205, 205);
  }

  
}
