.AlertSuccessContentFullWidth {
  & .MuiAlert-message {
    width: 100%;
  }
}

.ClickableText {
  cursor: pointer;
  color: #1976d2;
}

.MethodInputMargin {
  padding-top: 1vh;
}

.MethodInputLevel {
  padding-left: 0.5vw;
}
